p{font-size: 100px;
    color:blueviolet
}
div{background-color: black;
width: 200px;
height: 200px;
 border: 1px solid white;
  border-radius: 50%;

}

h1{font-family:'Arial' sans-serif;
width: 200px;
height: 300px;
background-color: lightcoral;
}
h2{font-size: bold;
   padding: 15px;
}
h3{text-align: right;
   margin: 20px;
}

.klass {
   background-image: url('splashpage.jpg');
   width:500px;
height: 500px ;
   background-size: contain;


}
body{background-color: lightgrey;}

.box {
   margin: 20px;

}
.neklass {
overflow: scroll;
    width: 200px;
    height: 200px;
}
