.card
 {background-color: rgba(255, 255, 255, 1);
    width: 380px; ;
    height: 582px;
    border-radius: 10px;
    border: 1px solid rgba(242, 246, 250, 1);
    border-color: rgba(242, 246, 250, 1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.name {
    color: rgba(44, 45, 53, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-style: regular;
    font-size: 24px;
    line-height: 100%;
    margin-left: 44px;
    margin-top: 50px;
    margin-right: 89px;
    width: 247px;
    height: 35px;
    letter-spacing: 0%;
}
.subtitle {
    color:rgba(46, 54, 62, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 150%;
    margin-left: 44px;
    margin-top: 12px;
    margin-right: 96px;
    width: 240px;
    height: 48px;
    letter-spacing: 0%;
}
.price {
    color: rgba(67, 75, 83, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-style: regular;
    font-size: 24px;
    line-height: 150%;
    margin-left: 44px;
    margin-top: 24px;
    margin-right: 228px;
    width: 108px;
    height: 36px;
    letter-spacing: 0%;
}

.btn  {
    background-color: rgba(254, 216, 76, 1);
    color:rgba(46, 54, 62, 1);
    border: none;
    border-radius: 8px;
    width: 163px;
    height: 68px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-style: regular;
    font-size: 18px;
    line-height: 152%;
    margin-left: 44px;
    margin-top: 18px;
    margin-right: 44px;
    
}
.container {
    display: grid;
grid-template-columns: repeat(3, 370px);
gap: 20px;
margin: auto;
justify-content: center;
}