
html {
    font-size: 16px;
}
body {
    background-color: #c05353;
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    font-size: 32px; 
    color: #333333; 
}
.container {
    width: 80%;
    background-color: rgb(55, 129, 189); 
    padding: 20px;
    border-radius: 10px;
}
.container p {
    font-size: 1.2em; 
}
h2 {
    font-size: 1.5rem; 
    color: rgb(50, 50, 100);
}
.box1 {
    background-color: #842020; 
    color: #ae0909;
    padding: 15px;
    margin-top: 15px;
}
.box2 {
    background-color: rgb(118, 248, 118);
    color: rgb(9, 167, 9);
    padding: 15px;
    margin-top: 15px;
}
.box3 {
    background-color: rgba(96, 96, 152, 0.3); 
    color: rgb(73, 73, 225);
    padding: 15px;
    margin-top: 15px;
}
